@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  BAG-O NGA CSS: Imbis nga itago, atong i-position sa gawas sa screen.
*/
.print-source {
  position: absolute;
  left: -9999px;
  top: -9999px;
}